*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color : rgb(255,255,255);
    --btn-bgcolor : rgb(66, 8, 8);
    --bgcolor : rgb(78, 227, 243);
    --h-color : rgb(86, 83, 83);
    --h-bgcolor : rgb(103, 228, 111);
}
.link{
    text-decoration: none;
    color: var(--h-color);
}
.link:hover{
    color: var(--white-color);
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--h-bgcolor);
    z-index: 1111;
    position: fixed;
    flex: 1;
    padding: 0px 30px;
    box-shadow: 0px 5px 10px var(--btn-bgcolor);
}
.header h1{
    color: var(--h-color);
    font-size: 50px;
    font-weight: 600;
    padding: 15px;
    text-shadow: 2px 2px 5px var(--white-color),
                -2px -2px 5px var(--white-color); 
}
.header h1:hover{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px var(--btn-bgcolor),
                -1px -1px 5px var(--btn-bgcolor);
  }
.header button{
    border: 2px solid var(--btn-bgcolor);
    background-color: transparent;
}
.header button:hover{
    border: 2px solid var(--white-color);
}
.main{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top:120px;
    font-size: 28px;
    background-color: var(--bgcolor);
    z-index: 1;
}
.main h1{
    margin: 15px;
    font-size: 50px;
}
.signupForm input,
.profileForm input,
.loginForm input,
.btn{
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    border-radius: 10px;
}
.profileForm input{
    width: 300px;
}
.btn{
    color: var(--white-color);
    background-color: var(--btn-bgcolor);
    font-weight: 600;
    margin: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: transparent;
    color: var(--btn-bgcolor);
}
.main p{
    margin: 10px;
}
@media screen and (max-width : 600px) {
    .header{
        padding: 0;
    }
}